<div class="login-box">
	<%= image_tag('bungy-logo.png', :size => '250x250') %>
	<p class="main-title">Bienvenidos a Bungy</p>
	
	<div class="content">

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div><%= f.email_field :email, :autofocus => true, :placeholder => "Escribe tu dirección de correo" %></div>

		  <div><%= f.password_field :password, :placeholder => "Tu contraseña" %></div>
	
		  <div><%= f.submit "Entrar" %></div>
	
		<% end %>
	</div>
	
	<div class="actions">
		<%= render "devise/shared/links" %>
	</div>
</div>