<div id="tracking"></div>
<div class="top-area">

	<div class="main-navigation">
		<div class="user">
			<p class="username">
				<ul class="actions">
					<li><b><%= link_to "<span class='glyphicon glyphicon-user'></span> #{@user.username}".html_safe %></b></li>
					<li><%= link_to "Panel principal", admin_path %></li>
					<li><%= link_to "Cerrar Sesión", destroy_user_session_path %></li>
				</ul>
			</p>				
		</div>
		<div class="info">
			<div class="brand"><%= image_tag('logo.png', size: '50x50') %></div>
			<div class="details">
				<p class="company-name"><%= @company.name %></p>
				<ul class="actions">
					<%= trucks_stats_for(@company) %>
					<li><%= link_to "5 alertas".html_safe , nil %></li>
				</ul>
			</div>
		</div>
		<div id="current"></div>
		<div class="search">
			<div class="content">
				<span>Centrar mapa en GPS: </span> <%= select_tag 'select_tag', options_from_collection_for_select(current_user.company.gps_units, "id", "identifier") %>
			</div>
			<% if '1'==1 %>
			<%= text_field_tag 'seek', nil, placeholder: 'Buscar por GPS-ID o por placa' %><%= button_tag "<span class='glyphicon glyphicon-search'></span>".html_safe %>
			<% end%>
		</div>
	</div>
</div>

<div id="instant-list" class="hidden"></div>